.profile-container {
    background-blend-mode: multiply;
    background-color: #fff;
    transition: all 0.3s 0s ease;
    min-height: 75vh;
    height: fit-content;
}

.item {
  width: -moz-fit-content;
  justify-content: center;
  color: #825313;
  font-size: 26px; 
  padding: 5px;
  margin: 1em;
}

.user-name {
  align-items: center;
  font-size: 32px;
  color: #59596d;
  margin-top: 50px;
  padding: 5px;
}