/* ------head----------- */
.head {
    background-color: #0e4283;
    padding: 5px 0;
    color: #fff;
  }

.nav-link {
  color:#5e9df2;
}

  /*------head-----------*/
  /*------search-----------*/

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.img {
  display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    background-blend-mode: multiply;
    background-color: #fff;
    transition: all 0.3s 0s ease;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

form {
  display: inline-flex;
}

.form-control {
  padding-top: 0.375rem;
  padding-right: 15rem;
  padding-bottom: 0.375rem;
  padding-left: 15rem;
}