.product_image {
    margin-top: 27px;
    margin-bottom: 20px;
    width: 10%;
    height: 10%;
    min-height: 125px;
    background-blend-mode: multiply;
    background-color: #fff;
    transition: all 0.3s 0s ease;
}